{% extends 'base.html' %}

{% block head_title %}
Sign up
{% endblock head_title %}

{% block content %}
<div>
<form method="post">
    <div><p>Sign up</p></div>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
    <div><p>I agree with <a href="http://vard.tech/policy">Privacy Policy</a> and <a href="http://vard.tech/service">Terms of Service</a></p></div>
    <div><p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a></p></div>
</form>
</div>
{% endblock content %}